/* Initialize fonts */

@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/* Initialize body */
body{
    background-color: #000;
    color: #fff;
    font-family: 'Hellix', sans-serif;
    margin: 0;
    /* padding in rem */
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

/* hstack : horizontal stack */
.hstack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}
/* vstack : vertical stack */
.vstack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}


/* Initialize top-bar */
/* top-bar */
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}
/* logo */
.logo{
    width : 4rem;
    height : 4rem;
    object-fit: contain;
}
/* search */
.search{
    display: flex;

}
/* search-bar */
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0 1rem;
    /* no border */
    color: #fff;
    background-color: #343333;
    border: none;
    /* no outline */
    outline: none;
    font-family: Hellix;
    font-weight: 500;
    margin : 0 0.7rem;
}

/* search-btn */
.search-btn{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 0.5rem;
    /* no border */
    border : none;
    /* no outline */
    outline: none;
    background-color: #FFAAAA;
}
/* search-btn:hover */
.search-btn:hover{
    background-color: #fff;
}
/* weather-container-main */
.weather-container-main{
    display: flex;
    align-items: center;
    flex: 1;
}

/* weather-data */
.weather-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 30%;
    height: 25rem;
    background-image: url("assets/images/gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: 600;
    border-radius: 0.7rem;
    overflow: hidden;
}
.weather-data-item{
    padding: 10px;
}

.weather-data-item .title{
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.3rem;

}
.weather-data-item .value{
    font-size:2.2rem;
    font-weight: 600;
    margin-left: 0.4rem;

}
.weather-data > .top-container{
    justify-content: space-around;
}
.bottom-container{
    padding: 1rem 1rem;
    padding-left: 3.5rem;
    display: flex;
    align-items: start;
    flex-direction: row;
    font-weight: 400;
    letter-spacing: 0.15rem;
    background-color: #ffffff50;
    /* flex grow horizontally */
    width: 100%;
}

/* weather-text */
.weather-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 3rem 5rem;
    overflow: hidden;
    font-style: italic;
    font-weight: 200;
    font-size: 2.5rem;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
}
a{
    color: #FFC8C8;
    text-decoration: underline;
    font-weight: 500;
    
}

/* media queries */
@media screen and (max-width: 1024px){
    
    .weather-text{
        width: 60%;
        font-size: 2rem;

    }
    .weather-data{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    .weather-data{
        width: 100%;
        height: 20rem;
    }
    .weather-text{
        width: 100%;
        padding: 0rem 0rem;
        font-size: 1.5rem;
    }
    .weather-container-main{
        flex-direction: column;
    }
    .top-bar{
        flex-direction: column;
    }
    .search{
        margin-top: 1rem;
        width: 100%;
    }
    .search-bar{
        width: 100%;
    }
    
}

